.verify-wrapper {
    border: 1px solid gray;
    height: 400px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.form-row {
    height: 100%;
    align-items: center;
}

.logo-holder img {
    height: 80px;
}